[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 11.0

[submodule "OCA/timesheet"]
	path = OCA/timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 11.0

[submodule "abakus-it/abakus-private"]
	path = abakus-it/abakus-private
	url = git@github.com:abakus-it/abakus-private.git
	branch = 11.0
